* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

img {
    display: block;
    width: 100%;
    opacity: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {
        width: 50%;

        @media screen and (max-width: 640px) {
            width: 80%;
        }
    }
}
